    <%= form_for(@responsavel) do |f| %>
      <% if @responsavel.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@responsavel.errors.count, "error") %> prohibited this responsavel from being saved:</h2>

          <ul>
          <% @responsavel.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
