<p id="notice"><%= notice %></p>

<h1>Listing Responsavels</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responsavels.each do |responsavel| %>
      <tr>
        <td><%= responsavel.name %></td>
        <td><%= link_to 'Show', responsavel, class:'btn btn-primary'  %></td>
        <td><%= link_to 'Edit', edit_responsavel_path(responsavel), class:'btn btn-primary'  %></td>
        <td><%= link_to 'Destroy', responsavel, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-primary'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Responsavel', new_responsavel_path %>
