<p id="notice"><%= notice %></p>

<form>
  <div class="form-group">

      <p>
        <strong>Name:</strong>
        <%= @responsavel.name %>
      </p>

      <%= link_to 'Edit', edit_responsavel_path(@responsavel) %> |
      <%= link_to 'Back', responsavels_path %>
    </div>
  </form>
