<p id="notice"><%= notice %></p>

<h3>Listing Compras</h3>

<table class="table">
  <thead>
    <tr>
      <th>Data</th>
      <th>Descrição</th>
      <th>Comprado</th>
      <th>Responsavel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compras.each do |compra| %>
      <tr>
        <td><%= compra.data %></td>
        <td><%= compra.description %></td>
        <td><%= compra.comprado %></td>
        <td><%= compra.responsavel.name %></td>
        <td><%= link_to 'Show', compra, class:'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_compra_path(compra), class:'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', compra, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compra', new_compra_path %>
