<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @compra.data %>
</p>

<p>
  <strong>Description:</strong>
  <%= @compra.description %>
</p>

<p>
  <strong>Comprado:</strong>
  <%= @compra.comprado %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= @compra.responsavel.name %>
</p>

<%= link_to 'Edit', edit_compra_path(@compra) %> |
<%= link_to 'Back', compras_path %>
